*{
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: #FDF3E7;
    color: #FDF3E7
}
.areasWrapper{ 
    padding: 0px;
    border: 3px outset #3B3738;
    border-radius: 4px;
    box-shadow: 10px 10px 25px gray;
    left: 260px;
    height: 500px;
    top: 92px;
    width: 600px;
    display: none;
    overflow: hidden;
    position: absolute;
    vertical-align: top;
    background-color: #7E8F7C;
}
hr{
    color: #FDF3E7;
    margin: 0px 0px 30px 0px;
    width: 100%;
}
.pageHeaderWrapper{
    background-color: #C63D0F;
    color: #FDF3E7;
    height: 70px;
    position: relative;
    border-bottom: 2px solid #3B3738;
}
h2{
    font-family: serif;
    margin: 10px 0px 10px 10px;
    font-weight: bold;
}
h3{
    margin-top: 10px;
}
.pageHeader{
    position: absolute;
    top: 20px;
    left: 20px;
}
.dropDownSection{
    border: 1px solid black;
    display: inline-block;
    height: 90px;
    width: 180px;
    border-radius: 4px;
    top: 20px;
    vertical-align: top;
    background-color: #C63D0F;
    padding: 8px;
    text-align: center;
    position: relative;
    left: 50px;
}
.areas{
    overflow: auto;
    display: none;
    width: inherit;
    height: inherit;
}
.images{
    display: inline-block;
    height: 260px;
    width: 200px;
    float: left;
    margin: 0px 10px 0px 5px;
    border: ridge;
}
.sectionParagraph{
    font-size: 1em;
    text-align: justify;
    margin: 0px 15px 15px 15px;
}
.sectionHeadings{
    margin-left: 20px;
}
footer{
    display: block;
    position: relative;
    top: 420px;
    width: 847px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    padding: 10px;
    display: none;
    background-color: #3B3738;
}
footer > h4{
    margin-right: 15px;
}
#areaDropdown{
    position: relative;
    text-align: center;
    top: 20px;
    margin: auto;
    height: 25px;
    width: 120px;
    font-size: 0.8em;
}
